<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANALYTICS_GATEWAY_HOST</key>
	<string>analytics-gw.liferay.com</string>
	<key>ANALYTICS_GATEWAY_PATH</key>
	<string>/api/analyticsgateway/send-analytics-events</string>
	<key>ANALYTICS_GATEWAY_PORT</key>
	<string></string>
	<key>ANALYTICS_GATEWAY_PROTOCOL</key>
	<string>https</string>
</dict>
</plist>
